body{
    background-color: #56887C;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a {
    text-decoration: none;
    color: inherit;
}

/* Навігація */
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    gap: 15px;
    background-color: rgba(110, 163, 150, 0.6);
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 10px rgba(16, 5, 5, 0.3);
}

/* Ліва частина */
.logo{
    height: 55px;
    padding-left: 20px;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-links a{
    color: #FFFFFF;
    text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 700;
}
.nav-links a:hover{
    text-decoration:underline;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Права частина */
.search-box{
    background-color: #FFFFFF;
    padding: 6px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-box input{
    border: none;
    outline: none;
    background:transparent;
    font-size: 14px;
}

.search-btn{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
}

.profile-btn{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 30px;
    padding-top: 10px;
    padding-right: 35px;
}

/* Слайдер */
.mySwiper {
    width: 100%;
    padding: 40px 0;
    background-color: #538478;
}

.swiper-slide {
    width: 1240px !important;   /* розміри */
    height: 520px !important;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.4s ease;
}

.swiper-slide img {
    width: 100%;            /* фото 1240 */
    height: 100%;           /* фото 520 */
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Центральне фото — збільшення */
.swiper-slide-active {
    transform: scale(1.04) !important;
    z-index: 2;
}

/* Бічні фото — трохи менші */
.swiper-slide-next,
.swiper-slide-prev {
    transform: scale(0.9);
    opacity: 0.8;
}


/* Країни */
.countries-section{
    width: 100%;
    padding: 40px 0;
}

.countries-section h2{
    text-align: center;
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 30px;
}

.countries-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.country-card {
    width: 360px;
    height: 240px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative; /* важливо для absolute всередині */
}

/* .country-card:hover {
    transform: scale(1.01);
} */

.country-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Назва країни поверх картинки */
.country-name {
    position: absolute;
    bottom: 10px; /* відступ від низу */
    left: 10px;   /* відступ від лівого краю */
    color: #fff;  /* білий текст */
    font-size: 20px;
    font-weight:900;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7); /* щоб було видно на світлому фоні */
}

.country-btn{
    /* background-color: #699b8e; */
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 40px;
    height: 40px;

    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;

}

.country-btn:hover {
    background: rgba(0,0,0,0.7);
    transform: scale(1.1);
}







/* Карточк турів */
.tour-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.tour-card {
    width: 360px;
    height: 510px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    background-color: #fff;
}

.tour-card:hover {
    transform: scale(1.01);
}

.tour-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
    position: relative;
}

.tour-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.tour-name {
    text-align: center;
    color: #FFFFFF;
    font-size: 36px;
    margin-bottom: 30px;
}

/* Прозорі блоки на фото */
.tour-tags {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    gap: 8px;
}

.tag {
    background: rgba(255, 255, 255, 0.92);
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

/* Текст */
.tour-info {
    padding: 15px;
    
}

.tour-location {
    font-size: 14px;
    color: #8a8a8a;
    margin-bottom: 4px;
}

.tour-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}


.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars {
    color: #FFD700;
    font-size: 18px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    color: #2a6df4;
}


/* стилі для турів */
.head_image{
    width: 100%;
    height: 400px;
    object-fit: cover;
}