:root{
    --main-green: #6a9684; /* Основний фон */
    --light-panel: #d8e1d5; /* Колір пошуку */
    --text-white: #ffffff;
}

*{box-sizing: border-box}

body {
    margin: 0;
    background: var(--main-green);
    font-family: Arial, Helvetica, sans-serif;
}

/* Верхня панель навігації */
/* .navbar{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 40px;
    gap:20px;
} */
/* 
.nav-left{
    display:flex;
    align-items:center;
    gap:30px;
} */

/* .logo{
    height:40px;
} */

/* .nav-links{
    display:flex;
    gap:25px;
    font-size:18px;
    font-weight:700;
} */

/* .nav-links a{
    color:var(--text-white);
    text-decoration:none;
} */

.nav-links a:focus,
/* .nav-links a:hover{
    text-decoration:underline;
} */

/* .nav-right{
    display:flex;
    align-items:center;
    gap:12px;
} */

/* Пошук */
/* .search-box{
    background:var(--light-panel);
    padding:8px 12px;
    border-radius:20px;
    display:flex;
    align-items:center;
    gap:8px;
} */

/* .search-box input{
    border:none;
    background:transparent;
    outline:none;
    font-size:16px;
} */

/* .search-btn{
    border:none;
    background:transparent;
    cursor:pointer;
    font-size:18px;
} */

/* .profile-btn{
    border:none;
    background:transparent;
    font-size:20px;
    cursor:pointer;
} */

/* Слайдер */
/* .slider{
    width:100%;
    display:flex;
    overflow-x:auto;
    padding:20px 60px;
    gap:40px;
}

.slide-img{
    height:300px;
    width:900px;
    object-fit:cover;
    border-radius:30px;
    flex:0 0 auto;
}

.slide-img.small{
    width:350px;
    height:300px;
    border-radius:28px;
} */

/* Хвилястий низ */
.waves{
    width:100%;
    height:200px;
    background:var(--main-green);
    position:relative;
    margin-top:40px;
}

/* Адаптивність */
@media (max-width:900px){
    .slide-img{width:80%;height:220px}
    .nav-links{display:none}
}
