<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Site</title>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!-- Підключаємо зовнішній CSS файл -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- НАВІГАЦІЯ -->
    {% include 'nav.html' %}

    <!-- Слайдер країни -->
    <section class="hero-mosaic">
        <div class="swiper countryMosaicSwiper">
            <div class="swiper-wrapper">
                {% set images = country['image_for_country'] %}
                {% if images %}
                    {% set img_list = images.split(';') %}

                    {% for i in range(0, img_list|length, 3) %}
                        <div class="swiper-slide mosaic-slide">
                            <div class="mosaic-grid">

                                {% if img_list|length > i %}
                                <div class="mosaic-vertical">
                                    <img src="{{ url_for('static',
                                        filename='image/about_country/' ~ img_list[i].strip()
                                    ) }}" alt="">
                                </div>
                                {% endif %}

                                {% if img_list|length > i+1 %}
                                <div class="mosaic-horizontal h1">
                                    <img src="{{ url_for('static',
                                        filename='image/about_country/' ~ img_list[i+1].strip()
                                    ) }}" alt="">
                                </div>
                                {% endif %}

                                {% if img_list|length > i+2 %}
                                <div class="mosaic-horizontal h2">
                                    <img src="{{ url_for('static',
                                        filename='image/about_country/' ~ img_list[i+2].strip()
                                    ) }}" alt="">
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Немає фото</p>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Тури країни -->
    <h2 class="tour-name">Тури {{ country.country_name }}</h2>
    <div class="tour-container">
    {% for country_in_tour in tours %}
        <a href="{{ url_for('tour_details', tour_id=country_in_tour.id) }}" class="tour-link">
            <div class="tour-card">
                <div class="tour-image">
                    {% if country_in_tour.image %}
                        <img src="{{ url_for('static', filename='image/tours/' + country_in_tour.image) }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='image/greece.jpg') }}">
                    {% endif %}

                    <div class="tour-tags">
                        <div class="tag">🛫 {{ country_in_tour.start_date }}</div>
                        <div class="tag">🌙 {{ country_in_tour.duration_days }}</div>
                    </div>
                </div>

                <div class="tour-info">
                    <p class="tour-location">
                        {{ country_in_tour.country_name }}, {{ country_in_tour.capital }}
                    </p>

                    <h3 class="tour-title">{{ country_in_tour.tour_name }}</h3>

                    <div class="bottom-row">
                        <div class="stars">★4</div>
                        <div class="price">{{ country_in_tour.price }}€</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>


<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='slider.js') }}"></script>
</body>