<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Site</title>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!-- Підключаємо зовнішній CSS файл -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


    <!-- НАВІГАЦІЯ -->
    {% include 'nav.html' %}


    <!-- СЛАЙДЕР -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='image/slide1.jpg') }}" alt="">
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='image/slide2.jpg') }}" alt="">
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='image/slide3.jpg') }}" alt="">
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='image/slide4.jpg') }}" alt="">
            </div>
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='image/slide5.jpg') }}" alt="">
            </div>
        </div>
    </div>

    <!-- КРАЇНИ -->
    <div class="countries-section">
        <div class="container">
            <h2>Популярні країни</h2>
            <div class="countries-container">
                {% for country_in_tour in countries_in_tours %}
                    <div class="country-card">
                        {% if country_in_tour.image %}
                            <img src="{{ url_for('static', filename='image/country/' + country_in_tour.country_image) }}" alt="Country 1">
                        {% else %}
                            <img src="{{ url_for('static', filename='image/country/greece.jpg') }}" alt="No Image Available">
                        {% endif %}
                        <div class="country-name">{{ country_in_tour.country_name }}</div>
                        <a href="{{url_for('countries_details', country_id=country_in_tour.id)}}" class="country-btn">
                            <svg viewBox="0 0 24 24" width="20" height="20" stroke="white" fill="none" stroke-width="2">
                                <path d="M5 12h14"></path>
                                <path d="M13 6l6 6-6 6"></path>
                            </svg>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <h2 class="tour-name">Популярні тури</h2>
    <div class="tour-container">
        {% for country_in_tour in countries_in_tours %}
        <a href="{{url_for('tour_details', tour_id=country_in_tour.id)}}" class="tour-link">
            <div class="tour-card">
                <div class="tour-image">
                    {% if country_in_tour.image %}
                        <img src="{{ url_for('static', filename='image/tours/' + country_in_tour.image) }}" alt="Country 1">
                    {% else %}
                        <img src="{{ url_for('static', filename='image/greece.jpg') }}" alt="No Image Available">
                    {% endif %}
                    <div class="tour-tags">
                        <div class="tag"><span>🛫</span>{{country_in_tour.start_date}}</div>
                        <div class="tag"><span>🌙</span>{{country_in_tour.duration_days}}</div>
                    </div>
                </div>
                
                <div class="tour-info">
                    <!-- питаня не виводиться столиця -->
                    <p class="tour-location">{{country_in_tour.country_name}}, {{country_in_tour.capital}}</p>
                    <h3 class="tour-title">{{country_in_tour.tour_name}}</h3>
                    <div class="bottom-row">
                        <div class="stars">★4</div>
                        <div class="price">{{country_in_tour.price}}€</div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}



        
        












<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='slider.js') }}"></script>

</body>
</html>