<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Site</title>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!-- Підключаємо зовнішній CSS файл -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


    <!-- НАВІГАЦІЯ -->
    {% include 'nav.html' %}

    <section class="hero-mosaic">
        <div class="swiper heroMosaicSwiper">
            <div class="swiper-wrapper">
                {% set images = tour['image_for_toure'] %}
                {% if images %}
                    {% set img_list = images.split(';') %}

                    {% for i in range(0, img_list|length, 3) %}
                        <div class="swiper-slide mosaic-slide">
                            <div class="mosaic-grid">

                                {% if img_list|length > i %}
                                <div class="mosaic-vertical">
                                    <img src="{{ url_for('static',
                                        filename='image/about_tour/' ~ img_list[i].strip()
                                    ) }}" alt="">
                                </div>
                                {% endif %}

                                {% if img_list|length > i+1 %}
                                <div class="mosaic-horizontal h1">
                                    <img src="{{ url_for('static',
                                        filename='image/about_tour/' ~ img_list[i+1].strip()
                                    ) }}" alt="">
                                </div>
                                {% endif %}

                                {% if img_list|length > i+2 %}
                                <div class="mosaic-horizontal h2">
                                    <img src="{{ url_for('static',
                                        filename='image/about_tour/' ~ img_list[i+2].strip()
                                    ) }}" alt="">
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Немає фото</p>
                {% endif %}
            </div>
        </div>
    </section>




    <div class="tour-page">
        <div class="tour-top">

            <div class="left-column">
                <section class="tour-cities">

                    <h2 class="section-title">Міста туру</h2>

                    <div class="cities-route">
                        


                        {% for city in cities %}
                        <div class="city-item">

                            <div class="city-image">
                                <img src="{{ url_for('static', filename='image/city/' + city.image) }}" alt="{{ city.city_name }}">

                                <span class="city-day">
                                    День {{ city.day_order }}
                                </span>
                            </div>

                            <div class="city-info">
                                <h3>{{ city.city_name }}</h3>
                                <p>{{ city.description }}</p>
                            </div>

                        </div>
                        {% endfor %}
                        
                    </div>
                    <button class="show-more-btn" id="showCitiesBtn">
                        Показати всі міста
                    </button>
                </section>
            </div>

            <div class="right-column">
                <aside class="tour-details-card">

                    <h3 class="card-title">Деталі туру</h3>

                    <ul class="tour-info">
                        <li>
                            <span>Дата вильоту</span>
                            <b>{{ tour.start_date }}</b>
                        </li>

                        <li>
                            <span>Дата повернення</span>
                            <b>{{ tour.end_date }}</b>
                        </li>

                        <li>
                            <span>Кількість днів</span>
                            <b>{{ tour.duration_days }}</b>
                        </li>
                    </ul>

                    <div class="tour-price">
                        від <span>{{ tour.price }} $</span>
                    </div>

                    <button class="comment-btn">
                        Забронювати місце
                    </button>

                </aside>
            </div>
        </div>

        <section class="reviews">

            <div class="reviews-header">
                <h3>Відгуки про тур</h3>
                <span class="reviews-count">
                    {{ reviews|length }} відгуків
                </span>
            </div>

            {% if reviews %}
                <div class="reviews-list">

                    {% for review in reviews %}
                    <div class="review-card"  {% if loop.index > 2 %}style="display: none;"{% endif %}>

                        <div class="review-top">
                            <div class="review-user">
                                <div class="avatar">
                                    {{ review.user_name[0] }}
                                </div>
                                <div>
                                    <b>{{ review.user_name }}</b>
                                    <div class="review-date">
                                        {{ review.review_date }}
                                    </div>
                                </div>
                            </div>

                            <div class="stars">
                                {% for i in range(review.rating) %}
                                    ★
                                {% endfor %}
                                {% for i in range(5 - review.rating) %}
                                    ☆
                                {% endfor %}
                            </div>
                        </div>

                        <p class="review-text">
                            {{ review.comment }}
                        </p>

                    </div>
                    {% endfor %}

                </div>

                <a href="#" class="all-reviews-link">
                    Показати всі відгуки →
                </a>

            {% else %}
                <p class="no-reviews">
                    Поки що відгуків немає. Будь першим 🙂
                </p>
            {% endif %}

        </section>
    </div>


<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='slider.js') }}"></script>

</body>
</html>