<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Site</title>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!-- Підключаємо зовнішній CSS файл -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


    <!-- НАВІГАЦІЯ -->
    {% include 'nav.html' %}

    <!-- <div class="hero">
        <img class="head_image" src="{{ url_for('static', filename='image/tours/' + tour.image) }}" alt="">
        <button class="hero-btn">Детальніше ↓</button>
    </div> -->
    <section class="hero-mosaic">
        <div class="swiper heroMosaicSwiper">
            <div class="swiper-wrapper">
                {% set images = tour['image_for_toure'] %}
                {% if images %}
                    {% set img_list = images.split(';') %}

                    {% for i in range(0, img_list|length, 3) %}
                        <div class="swiper-slide mosaic-slide">
                            <div class="mosaic-grid">

                                {% if img_list|length > i %}
                                <div class="mosaic-vertical">
                                    <img src="{{ url_for('static',
                                        filename='image/about_tour/' ~ img_list[i].strip()
                                    ) }}" alt="">
                                </div>
                                {% endif %}

                                {% if img_list|length > i+1 %}
                                <div class="mosaic-horizontal h1">
                                    <img src="{{ url_for('static',
                                        filename='image/about_tour/' ~ img_list[i+1].strip()
                                    ) }}" alt="">
                                </div>
                                {% endif %}

                                {% if img_list|length > i+2 %}
                                <div class="mosaic-horizontal h2">
                                    <img src="{{ url_for('static',
                                        filename='image/about_tour/' ~ img_list[i+2].strip()
                                    ) }}" alt="">
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Немає фото</p>
                {% endif %}
            </div>
        </div>
    </section>




    <div class="content">

        <section class="hotels">
            <h2 class="tour-name">Готелі</h2>

            <div class="hotels-layout">
                <div class="hotel-card">
                    <img class="head_image" src="{{ url_for('static', filename='image/tours/' + tour.image) }}" alt="">
                </div>

                <div class="tour-details">
                    <h3>Деталі туру</h3>
                </div>
            </div>
        </section>

        <section class="cities">
            <h2>МІСТА</h2>

            <div class="cities-flow">
                <div class="city">
                    <img class="head_image" src="{{ url_for('static', filename='image/tours/' + tour.image) }}" alt="">
                    <span>Лос-Анджелес</span>
                </div>

                <span class="arrow">→</span>

                <div class="city">
                    <img class="head_image" src="{{ url_for('static', filename='image/tours/' + tour.image) }}" alt="">
                    <span>Нью-Йорк</span>
                </div>

                <span class="arrow">→</span>

                <div class="city">
                    <img class="head_image" src="{{ url_for('static', filename='image/tours/' + tour.image) }}" alt="">
                    <span>Лос-Анджелес</span>
                </div>
            </div>
        </section>
    </div>


<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='slider.js') }}"></script>

</body>
</html>